.box:hover{
    /* box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 0  10px black; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all;
    transition-duration: 400ms;
}